.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 2rem;
  background-color: beige;
}

.card {
  background-color: rgb(243, 243, 243);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1.5rem;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the top */
  min-height: 350px; /* Increased minimum height for better content coverage */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h1 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  color: #333333;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  text-align: center;
}

.card p {
  font-size: 1.2rem;
  color: #888;
  margin: 0.5rem 0;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Media Queries */
@media (max-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}


